[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "chankyulee7.github.io"]
	path = chankyulee7.github.io
	url = https://github.com/chankyulee7/chankyulee7.github.io
	branch = master
[submodule "public"]
	path = public
	url = https://github.com/chankyulee7/chankyulee7.github.io.git
	branch = master
